body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    padding-bottom: 3em;
}

#addButton {
    background-color: #3CB371;
    border: none;
}

#input {
    background-color: #303030;
    border-radius: 5px;
    border: none;
    width: 100%;

}

#todoLabel {
    background-color: #0d0c0a;
    outline: none;

}

.labelContainer {
    outline: none ;
    /*margin-top: .5em;*/
    /*margin-bottom: .5em;*/
}

#todoInput {
    margin-right: .7em;
}

#todoLabel:focus {
    outline: none;
}
::placeholder{
    color: slategrey;
}

#card{
    background-color: #0d0c0a;
}

.add{
    border-radius: 25px;
    margin-top: 2em;
    margin-right: auto;
}

.delete{
    border-radius: 25px;
    margin-top: 2em;
    margin-left: auto;
}

.leftTodo {
    font-size: small;
    color: dimgrey;
}
.footerPadding {
    padding-bottom: 0;
}