html {
}

body {
    background-image: linear-gradient(26deg, #13547a, #80d0c7);
    color: whitesmoke;
    height: 100vh;
}

h1 {
    padding-bottom: 3em;
}

#addButton {
    background-color: #3CB371;
    border: none;
}

#input {
    background-color: #303030;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: whitesmoke;

}

.groupItem {
    /*margin-bottom: .5em ;*/
    background-color: #0d0c0a;
    color: whitesmoke;
    border: none;
}

.labelContainer {
    border: none;
}

.todoContainer {
    margin: .7em auto;
    border: none;
    /*border: solid 1px slategrey;*/

}

.todoInput {
    margin-right: 1em;
}

#todoLabel:focus {
    outline: none;
}
::placeholder{
    color: slategrey;
}

#card{
    background-color: #0d0c0a;
    border-radius: 16px;

}

.imgBanner {
    border-radius: 16px 16px 0 0;
}

.add{
    border-radius: 25px;
    margin-top: 2em;
    margin-right: auto;
}

.delete{
    border-radius: 25px;
    margin-top: 2em;
    margin-left: auto;
}

.leftTodo {
    font-size: small;
    color: dimgrey;
}
.footerPadding {
    padding-bottom: 0;
}