body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    padding-bottom: 3em;
}

#addButton {
    background-color: #3CB371;
    border: none;
}

#input {
    background-color: #303030;
}

#todoLabel {
    background-color: #0d0c0a;
    border: none;
}
::placeholder{
    color: whitesmoke;
}

#card{
    background-color: #0d0c0a;
}

.add{
    border-radius: 25px;
    margin-top: 2em;
    margin-right: auto;
}

.delete{
    border-radius: 25px;
    margin-top: 2em;
    margin-left: auto;
}